#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;

  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  &.preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: var(--color-code, #888);
  background-color: var(--color-bg-code, #222222aa);
}